port 80;

location /echo EchoHandler {
}

location /sleep SleepHandler{

}

location /static1 StaticHandler {
    root /static_files;
}

location /api ApiHandler {
  data_path /mnt/crud;
}

location /health HealthHandler {
}

location /logout LogoutHandler {
}

location /register RegisterHandler { 
}